[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = git@github.com:nanxiaobei/hugo-paper.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
